main{
    margin: 0 auto;
    max-width: 1200px;

    

    & header {
        padding: 20px;
        div{
            background:#fff;
            h1{
                text-align: center;
                // padding: 0 10px;
            }
        }
    }
    
    
}

